@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground @container;
  }
  /* button {
    @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-foreground;
  } */
}

@layer components {
  .icon-button {
    @apply shadow-lg rounded-full ring ring-border/70 bg-highlight-4;
  }

  .highlight-card {
    @apply p-3 rounded-2xl shadow-sm bg-highlight-4 border border-border/20 min-h-25;
  }
}

@layer utilities {
  .icon-sm {
    @apply w-4 h-4;
  }

  .icon-md {
    @apply w-5 h-5;
  }

  .hide-button {
    @apply hidden @min-4xl:block;
  }

  .highlight-title {
    @apply text-xs font-medium;
  }
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-blue: var(--blue);
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-yellow: var(--yellow);
  --color-purple: var(--purple);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-swell-primary: var(--swell-primary);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-highlight-1: var(--highlight-1);
  --color-highlight-2: var(--highlight-2);
  --color-highlight-3: var(--highlight-3);
  --color-highlight-4: var(--highlight-4);
  --color-highlight-5: var(--highlight-5);
  --color-highlight-6: var(--highlight-6);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  /* --background-2: oklch(98.511% 0.00011 271.152); */
  --background-2: oklch(99.405% 0.00011 271.152);
  --highlight-1: oklch(95.514% 0.00011 271.152 / 0.788);
  --highlight-2: oklch(95.815% 0.00011 271.152 / 0.377);
  --highlight-3: oklch(93.403% 0.00011 271.152);
  --highlight-4: oklch(100% 0.00011 271.152);
  --highlight-5: oklch(95.815% 0.00011 271.152);
  --highlight-6: oklch(97.015% 0.00011 271.152);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(89.755% 0.0001 271.152);
  --input: oklch(0.922 0 0);
  --ring: oklch(94.309% 0.00011 271.152);
  --blue: oklch(94.352% 0.03098 237.664);
  --yellow: oklch(97.653% 0.06553 102.904);
  --green: oklch(97.747% 0.04169 138.846);
  --red: oklch(94.082% 0.0297 17.495);
  --orange: oklch(97.536% 0.02545 84.571);
  --purple: oklch(92.707% 0.03976 296.61);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --swell-primary: oklch(66.906% 0.18376 248.826);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  /* --background: oklch(0.145 0 0); */
  --background: oklch(17.099% 0.04932 250.709);
  --background-2: oklch(17.975% 0.05139 250.378);
  --highlight-1: oklch(20.565% 0.04328 268.518 / 0.993);
  --highlight-2: oklch(20.565% 0.04328 268.518 / 0.377);
  --highlight-3: oklch(26.627% 0.04459 256.951);
  --highlight-4: oklch(24.62% 0.03988 249.755);
  --highlight-5: oklch(34.893% 0.06737 251.007);
  --highlight-6: oklch(34.893% 0.06737 251.007);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(100% 0.00011 271.152 / 0.212);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --blue: oklch(70.329% 0.15624 258.335 / 0.534);
  --yellow: oklch(96.783% 0.19031 110.454 / 0.452);
  --green: oklch(87.631% 0.26613 142.547 / 0.514);
  --red: oklch(68.372% 0.20495 26.12 / 0.623);
  --orange: oklch(80.273% 0.16171 70.758 / 0.651);
  --purple: oklch(74.115% 0.17538 308.084 / 0.486);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --swell-primary: oklch(82.166% 0.10071 239.079);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
